@import "utils/styles/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/css/font-awesome.min.css';
$theme-colors: (
        'gray': $gray
);
html,body {
  margin: 0;
  font-family: 'Poppins', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins';
}
p {
  font-family: 'Droid Sans';
  font-size: 1.2rem;
  color: $gray
}
.display-4 {
  font-size: 3rem;
}
.btn-outline-secondary {
  &:hover {
    color: #ffffff;
  }
}
.w-12{
  width: 12%!important;
}

@import "utils/styles/scss/homePage";

.card {
  border-radius: 0;
  * {
    border-radius: 0;
  }

  .card-header, .card-footer {
    background-color: transparent;
  }
}

button.btn {
  border-radius: 0;
  text-transform: uppercase;
  border-width: 3px;
  font-weight: bold;
  letter-spacing: 1px;
}

button.outline {
}

.form-control {
  border-radius: 0;
}

.custom .custom-file {
  border-radius: 0;
  .custom-file-input {
    border-radius: 0;
  }
  .custom-file-label {
    border-radius: 0;
  }
}

.dropdown-menu {
  border-radius: 0;
}

a:link{color: #000; text-decoration: none;}
a:visited{color: #000; text-decoration: none;}
a:active{color: #000; text-decoration: none;}
a:hover{color: #000; text-decoration: underline;}


.side-menu {
  width: 25%;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: -25%;
  transition: right linear 0.2s 0s;

  &.show {
    right: 0;
  }
}

@media (max-width: 768px) {
  .side-menu {
    width: 50%;
    right: -50%;
  }
}

@media (max-width: 576px) {
  .side-menu {
    width: 100%;
    right: -100%;
  }
}